/***************** App.module.css ***************/

@mixin invisibleInput { border: 0px; height: 1px; width: 1px; margin: -1px; padding: 0px;
    clip: rect(0px, 0px, 0px, 0px); overflow: hidden; white-space: nowrap; position: absolute; }

.container { display: grid; row-gap: 16px; }

.row { display: flex; column-gap: 8px;
    & > *:nth-child(4n):not(:last-child) { margin-right: 8px; }
}

.cellList { display: flex; flex-direction: column; row-gap: 8px; }

.cell { $cell: &; cursor: pointer; 
    &__input { 
        @include invisibleInput();
        &:checked + #{$cell}__content { 
            background-color: #005da5; 
        }
        &:focus-visible + #{$cell}__content {
            outline: solid 4px #90cdf4; outline-offset: 2px;
        }
    }
    &__content { width: 30px; height: 40px; background-color: #ccc; border-radius: 3px; }
}

.controls { display: flex; column-gap: 16px; }

.button { border: none; cursor: pointer; appearance: none; background-color: #005da5;  color: white;
    width: 80px; line-height: 2; border-radius: 4px; font-weight: 700; transition: background-color 0.3s;

    &:hover { background-color: #4281b2; }
}
