$lightBg: #ccc;

@mixin invisibleInput { border: 0px; height: 1px; width: 1px; 
  margin: -1px; padding: 0px;
  clip: rect(0px, 0px, 0px, 0px); overflow: hidden; 
  white-space: nowrap; position: absolute; }

.active {
  $active: &;
  &__input { 
    @include invisibleInput;
    &:checked + #{$active}__content { 
      background-color: #ff5b06; 
    }
  }
  &__content { 
    width: 14px;
    height: 14px;
    background-color: $lightBg; 
    border-radius: 999px;
    margin: 0 8px;
  }
}
