/***************** Controls.module.css ***************/

$blueBG: #005da5;
$blueHover: #4281b2;

.controls {
  column-gap: 40px;
  row-gap: 24px;
  margin-top: -10px;
  margin-bottom: 32px;
  padding-left: 60px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  .button {
    border: none;
    cursor: pointer;
    appearance: none; 
    background-color: $blueBG; 
    color: white;
    width: 80px;
    line-height: 2;
    border-radius: 4px; 
    font-weight: 700;
    transition: background-color 0.3s;

    &:hover {
      background-color: $blueHover;
    }
  }

  .fader {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .controlSelect {
    background-color: $blueBG; 
    color: #fff;
    padding: 8px 4px;
    appearance: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $blueHover;
    }

    label {
      cursor: pointer;
    }

    select {
      padding: 2px;
      margin: 0 4px;
      cursor: pointer;
    }
  }
}