/***************** Controls.module.css ***************/

$columnGap: 16px;

.controls {
  display: flex;
  flex-direction: row-reverse; 
  column-gap: $columnGap;
  grid-column: 2;
  justify-content: center;
  margin-top: 28px;
}

.button {
  border: none;
  cursor: pointer;
  appearance: none; 
  background-color: #005da5; 
  color: white;
  width: 80px;
  line-height: 2;
  border-radius: 4px; 
  font-weight: 700;
  transition: background-color 0.3s;

  &:hover {
    background-color: #4281b2;
  }
}

.fader {
  display: flex;
  align-items: center;
  column-gap: $columnGap;
}
