/*********** globals.css ***********/

:root {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}

body { 
  display: grid;
  place-content: center;
  background-color: #222; 
  color: white;
}
