/***************** Home.module.css ***************/

$cellHeight: 36px;
$cellWidth: 36px;
$lightBg: #ccc;
$cellBg: #fff;

@mixin invisibleInput {
  border: 0px;
  height: 1px;
  width: 1px; 
  margin: -1px;
  padding: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden; 
  white-space: nowrap;
  position: absolute;
}

#openingTitle {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin: 40px 0px;
  padding: 0;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.pullUp {
  margin-top: -100px;
  transition: margin 2s ease-out;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 0px 0px 0px 50px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  $active: &;
  &__input { 
    @include invisibleInput;
    &:checked + #{$active}__content { 
      background-color: #ff5b06; 
    }
  }
  &__content { 
    width: 14px;
    height: 14px;
    background-color: $lightBg; 
    border-radius: 999px;
    margin: 0 auto;
  }
}

.cellList {
  display: flex;
  flex-direction: column;
}

.cell { $cell: &; cursor: pointer; 
  &__input { 
    @include invisibleInput();
    &:checked + #{$cell}__content { 
      background-color: #005da5; 
    }
    &:focus-visible + #{$cell}__content {
      outline: solid 4px #90cdf4;
      outline-offset: 2px;
    }
  }
  &__content {
    width: $cellWidth;
    height: $cellHeight;
    background-color: $cellBg;
    border-radius: 3px;
    margin: 5px;
  }
}

.measure { 
  background-color: #ccc;
  display: flex;
  margin: 0px 6px 20px;
  flex-direction: column;
}

.measure div {
  display: flex;
  flex-direction: row;
}

.activeIndicators {
  background: #222;
}
.activeIndicators label {
  width: 25%;
  margin-bottom: 6px;
}
.activeIndicators label div {
  margin: 0px auto;
}