.soundPicker {
  padding: 0;
  text-align: right;
  margin-top: 14px;
  margin-right:10px;

  div {
    margin: 11px auto;
  }
  select {
    padding: 8px 0px;
    background-color: #dd1100;
    color: #fff;
    
    option {
      background-color: #ffffff;
      color: #000
    }
  }
}
