.soundLabels {
  padding: 0;
  position: absolute;
  top:14px;
  left: -10px;
  text-align: right;

  div {
    margin: 11px auto;
  }
  select {
    padding: 8px 0px;
    background-color: #dd1100;
    color: #fff;
    
    option {
      background-color: #ffffff;
      color: #000
    }
  }
}
